@charset "utf-8";
.showtime{
    float:right; 
	width:380px; 
	color:#999999;
	margin-top:15px;
}
.title_bar {
	position: absolute;
	padding-top: 0px;
	margin-top: 0px;
	background:url(../img/title.png);
	height: 125px;
	width: 1280px;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-image:url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed
}
.navigation {
	position: absolute;
	margin-top: 25px;
}
.container {
	margin-top: 20px;
	margin-bottom:10px;
	width: 1100px;
	height: 800px;
}
.bccolor {
	background: #CCC;
	background-color: rgba(43, 38, 43, 0.90);
	margin-buttom: 100px;
	color: #CCC;
}

.bccolor i {
	color:#FFF;
	margin-left: 2px;
	margin-right:2px;
}
.bccolor p {
	color: #FFF;
	font-family: "游ゴシック", "Agency FB";
	margin-left: 25px;
	margin-top: 5px;
}
.navtop {
	padding-top: 116px;
}

